.button {
  padding: 16px 32px;
  border: none;
  background: #f9fafc;
  border-radius: 30px;
  color: #bbbbbb;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 144.2%;
}

