.button {
  margin-left: 24px;
  padding: 16px 32px;
  border: none;
  background: #d0d5d8;
  border-radius: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 144.2%;
  font-variant: small-caps;
  color: #3744BD;
  outline: none;
}
.icon{
    margin-left: 18px;
}
