.wrapper {
  display: flex;
  position: absolute;
  justify-content: center;
  /* width: 462px;
  height: 472px; */
  top: 62px;
  left: 22px;
  /* border: 1px solid red; */
  z-index: 9999;
  background: #ffffff;
  box-shadow: 0px 7px 30px rgba(148, 156, 160, 0.08);
  border-radius: 10px;
}
.wrapperHidden {
  display: none;
}
